<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <!--67108864的含义是64MB，这是HTTP每次传输允许的最大值（不指定时默认值为64KB）
            用HTTP实现时，如果希望下载大文件（例如2GB），需要先将文件按64MB切分，
            客户端分别下载后，最后再将其合并为一个文件。
            另外，也可以用TCP提供下载功能，用TCP实现时可通过配置直接下载不大于4GB的文件，
            具体实现见MSDN中的相关说明-->
        <binding name="HttpStreaming" maxReceivedMessageSize="67108864" transferMode="Streamed"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="MyService.Service1">
        <endpoint binding="basicHttpBinding" bindingConfiguration="HttpStreaming" contract="MyService.IService1"/>
      </service>
    </services>
    
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>